.custom-result_list_fancy {
    font-size: 16px;
    line-height: 20px;
}
.custom-result_list_fancy h4 a {
    font-size: 20px !important;
}
.custom-result_list_fancy .date {
    display: none;
}
.custom-result_list_fancy .vItemSearch:not(:last-child) {
    border-bottom: 1px solid #adadad;
}