<h4>
    <a href="<%- itemLink %>" rel="noopener noreferrer" class="js-link">
    <!-- instead of -item.get() we use = item.escape() to apply the search 
         highlighting and preserve formating -->
        <%= item.escape('title') %>
    </a>
</h4>